<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    
    
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e9d1329982.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <style>
        section {
          margin-left: -10%;
        }
    </style>
    

</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Doşland Doşlan Über Alles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Page 3</a>
                </li>
              </ul>
              
            </div>
          </nav>

        <h1 style="text-align: center; margin: 50px;">My Tasks</h1> 
        
          <section>
        
          <div class="table">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="table-secondary">
                            <th>Symbol</th>
                            <th>WKN</th>
                            <th>Name</th>
                            <th>Market</th>
                            <th>CUR.</th>
                            <th>Last Price</th>
                            <th>Change</th>
                            <th>Chg%</th>
                            <th>Highest</th>
                            <th>Lowest</th>
                            <th>Buy Target</th>
                            <th>Sell Target</th>
                            <th>Strong Buy Target</th>
                            <th>Strong Sell Target</th>
                            <th>Notes</th>
                            <th>Number of Items</th>
                            <th>Buying Price</th>
                            <th>Buying Commission</th>
                            <th>Buying Date</th>
                            <th>Actions</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <tr class="active">
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="text"></td>
                                    <td>Gitar</td>
                                    <td>
                                      
                                            <select class="form-control" style="width: max-content;">
                                                <option value="1">Şirket      </option>
                                                <option value="0">Mirket     </option>
                                                <option value="-1">Anlamam    </option>
                                            </select>
                                       
                                    </td>
                                    <td>Bu</td>
                                    <td>Gece</td>
                                    <td>Bizde</td> 
                                    <td>Kalsın</td>
                                    <td>Mı</td>
                                    <td>İbraaaaim</td> 
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="text"></td> 
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="text"></td> 
                                    <td><input class="form-control" type="text"></td>
                                    <td><input class="form-control" type="date"></td>
                                    <td>
                                        
                                        <a href="#">
                                            <span class="far fa-eye"></span>
                                        </a>
                                        
                                        <a href="#">
                                            <span class="fas fa-upload"></span>
                                        </a>
                                        
                                        <a href="#">
                                            <span class="fas fa-trash-alt"></span>
                                        </a>
                                      </td>
                                             
                               
                                        
                                </tr>
                            </div>
                        
                        </div>
                            
                    </tbody>

                </table>
              </section>  
            </div>
        
           
    </div>
</body>
</html>